body{
font-family:Arial;
background:linear-gradient(135deg,#74ebd5,#9face6);
text-align:center;
}
.box{
background:white;
width:300px;
margin:auto;
padding:20px;
border-radius:10px;
}
input,select{
width:90%;
padding:10px;
margin:10px;
}
button{
background:green;
color:white;
padding:10px;
border:none;
cursor:pointer;
display:block;
width:80%;
margin:10px auto;
clear:both;
}
button:hover{
background:darkgreen;
}
#orders{
list-style:none;
}